<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.ryan.dao.user.IUserDao">
	
	<!-- 映射user对象 -->
	<resultMap id="userVO" type="com.mc.ryan.vo.user.UserVO">
		<id column="id" property="id" jdbcType="INTEGER" />  
        <result column="user_name" property="userName" jdbcType="CHAR" />
        <result column="user_no" property="userNo" jdbcType="CHAR" />
        <result column="user_pass" property="usetPass" jdbcType="CHAR" />
        <result column="phone" property="phone" jdbcType="CHAR" />
        <result column="address" property="address" jdbcType="CHAR" />
        <result column="email" property="email" jdbcType="CHAR" />
        <result column="state" property="state" jdbcType="CHAR" />
        <result column="login_state" property="loginState" jdbcType="CHAR" />
	</resultMap>
	
	<!-- 查询uset数据 -->
	<sql id="userColumns">
		SELECT 
			id
			,user_no
			,user_name
			,user_pass
			,phone
			,address
			,email
			,state
			,login_state
		FROM user
	</sql>
	
	<!-- 查询全量user -->
	<select id="findAllUser" resultMap="userVO">
		 <include refid="userColumns"></include>
	</select>
	
	<!-- 插入user -->
	<insert id="insertUserList">
		insert into user
		  	(user_no
			,user_name
			,user_pass
			,phone
			,address
			,email
			,state
			,login_state)
		values
		  <foreach item="item" collection="list" separator=",">
			(#{item.userNo}
			,#{item.userName}
			,#{item.usetPass}
			,#{item.phone}
			,#{item.address}
			,#{item.email}
			,#{item.state}
			,#{item.loginState})
		</foreach>
	</insert>
	
	<!-- 查询最大值的no -->
	<select id="finaUserMaxID" resultType="int">
		SELECT MAX(user_no) FROM user
	</select>
	
</mapper>

